* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quattrocento', serif;
}

.cabecalho {
    background-color: #eba422;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabecalho-lista a {
text-decoration: none;
color: white;
}

.escola-imagem {
    width: 20%;
}

#textos {
    background-image: linear-gradient#eba422, #f1cb4e;
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.escola-div-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
}

.estudante-imagem2{
    width: 150px;
}


.estudante-imagem4{
    width: 150px;
}


.estudante-imagem6{
    width: 150px;
}


.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px;
}


.estudante-todo{
    display: flex;
    justify-content: center;
}


.texto-foto{
    padding: 33px;
    margin: 25px;
}

.rodape{
    background-color: #eba422;
    text-align: center;
}

.rodape-imagem{
    height: 80px;
    padding: 15px;
    
}

.escla-texto-dois{
    padding: 10px 0px 0px 0px;
}
